grpc:
  server:
   port: 0

logging:
  level:
    io.grpc: DEBUG
    io.netty: WARN

stats:
  analyzer:
    kafka:
      bootstrap-server: localhost:9092
      userActions:
        topics:
          - stats.user-actions.v1
        consumer:
          pollTimeout: 500
          properties:
            bootstrap.servers: ${stats.aggregator.kafka.bootstrap-server}
            key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value.deserializer: ru.practicum.ewm.stats.avro.serializer.UserActionDeserializer
            group.id: stats.user.actions
            enable.auto.commit: false
            auto.offset.reset: earliest
      eventsSimilarity:
        topics:
          - stats.events-similarity.v1
        consumer:
          pollTimeout: 500
          properties:
            bootstrap.servers: ${stats.aggregator.kafka.bootstrap-server}
            key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value.deserializer: ru.practicum.ewm.stats.avro.serializer.EventsSimilarityDeserializer
            group.id: stats.events.similarity
            enable.auto.commit: false
            auto.offset.reset: earliest
